.container{
    display: flex;
    flex-wrap: wrap;
}
.para-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30%;
}
body{
    height: 100vh;
}
.line{
    width: 2.5rem;
    height: 2.5rem;
}
